
# Why does Mojang make so many methods private...?


# BlockFarmland
public net.minecraft.block.BlockFarmland func_149822_e(Lnet/minecraft/world/World;III)Z
public net.minecraft.block.BlockFarmland func_149821_m(Lnet/minecraft/world/World;III)Z


# ChunkProviderGenerate
public net.minecraft.world.gen.ChunkProviderGenerate field_73229_q # mapFeaturesEnabled


# EffectRenderer
public net.minecraft.client.particle.EffectRenderer field_110737_b # particleTextures


# FontRenderer
public net.minecraft.client.gui.FontRenderer field_78304_r # textColor

public net.minecraft.client.gui.FontRenderer func_78265_b()V # resetStyles
public net.minecraft.client.gui.FontRenderer func_78273_d(Ljava/lang/String;)Ljava/lang/String; # trimStringNewline
public net.minecraft.client.gui.FontRenderer func_78268_b(Ljava/lang/String;IIIZ)V # renderSplitString


# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; # getSlotAtPosition


# MathHelper
public net.minecraft.util.MathHelper field_76144_a # SIN_TABLE


# ModelBox
public net.minecraft.client.model.ModelBox field_78253_h # vertexPositions
public net.minecraft.client.model.ModelBox field_78254_i # quadList


# RenderSheep
public net.minecraft.client.renderer.entity.RenderSheep field_110885_a # sheepTextures
public net.minecraft.client.renderer.entity.RenderSheep field_110884_f # shearedSheepTextures
